@import url(https://fonts.googleapis.com/css?family=Bangers);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}




/* -------------- */

body{

    font-family: 'Bangers', cursive;

    font-size:large;
    width: 100vw;
    scroll-behavior: smooth;
}



.navbar{
    position:relative;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}


.navbar .TITRE{
    position: relative;
    font-size: 2em;
    font-weight:bold;

    padding-left: 1%;
    padding-right: 1%;
}

.TITRE a{
    font-family: 'Bangers', cursive;
    color: #000000;
}


.navbar .TITRE a:hover
{
    color: rgba(0, 0, 0, 0.71);
}


.navbar .nav-links{
    position: relative;
    display: flex;
    align-items: center;
}


.navbar .nav-links ul{
    display: flex;
}


.nav-button{
    border: none;
    display: none;
    top: 50px;
    right: 50px;
    width: 35px;
    position: absolute;
}


.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li a{
    color: rgb(0, 0, 0);
    font-family: "Gurmukhi Sangam MN", serif;
    padding: 15%;
    border-bottom: none;
}

.navbar .nav-links ul li a:hover {
    color: rgba(0, 0, 0, 0.66);
    border-bottom: solid red;
}

ul li #fr {
    width: 40px;
}


ul li #en {
    width: 40px;
    height: 25px;
}


div #cover {

    width: 425px;
    margin-left: 40px;
    position: absolute;
}


#Title-comic{
    position: absolute;
    margin-left:20%;
}

#Description{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-evenly;
    flex-direction: row;
}


#summary {
    margin: 5%;
    place-content: center;

    font-family: "Droid Sans Mono Dotted", sans-serif;

    width:500px;
    right: 0;
    padding: 5% 20px;

    background-color: rgba(255, 255, 255, 0.68);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border: solid black;

    box-shadow: 60px -16px #000000;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
}

footer{
    font-family: "Gurmukhi Sangam MN", serif;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

}

/*TODO: make footer externel file and include in all files*/


/* TODO: Make page responsive*/

